@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: rgb(255, 255, 255);
  color: rgb(138, 135, 135);
  font-family: "Inter", sans-serif;
}
